:root{

    --textcolor:#707070;
}
*,a,li{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  "Helvetica Neue bold";
    list-style: none;

}

button,label{
    cursor: pointer;
}

html,body,.container{
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
}

.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 70px ;
    font-style: italic; 
}
input[type='radio']{
    display: none;
}
.text-normal{
    font-family: "Helvetica Neue normal";
}
.text-lighter{
    font-family: "Helvetica Neue lighter";
}
@font-face {
    font-family: "Helvetica Neue bold";
    src: url("../resources/fonts/Helvetica\ Neue\ LTW0697BlkCnObl.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Helvetica Neue lighter";
    src: url("../resources/fonts/Helvetica\ Neue\ UltraLight.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: "Helvetica Neue normal";
    src: url("../resources/fonts/Helvetica\ Neue\ W01\ 66\ Medium\ It.ttf");
    font-weight: normal;
}
