@import url("./cart.css");
.main-container {
  grid-area: "main";
  display: grid;
  grid-template-columns: 880px 350px;
  grid-template-rows: 1fr;
  grid-template-areas: "choose-game cart";
  justify-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.choose-game-container {
  grid-area: "choose-game";
  display: grid;
  grid-template-areas:
    "choose-game-header"
    "games-links"
    "fill-bet"
    "buttons";
  grid-template-columns: 815px;
  grid-template-rows: 35px 80px 470px 55px;
  align-items: center;
  align-content: center;
  justify-items: start;
}
.choose-game-header {
  grid-area: "choose-game-header";
}
.choose-game-header span {
  color: #707070;
  font-size: 28px;
}

.games-links-container {
  grid-area: "games-links";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  color: var(--textcolor);
  font-size: 18px;
}
.games-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.game-link {
  width: 130px;
  height: 35px;
  border: 2px solid;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 500ms ease;
  font-size: 18px;
  margin-right: 10px;
  padding: 5px;
}
.lotofacil-game {
  border-color: var(--lotofacil);
  color: var(--lotofacil);
}
.mega-game {
  border-color: var(--mega);
  color: var(--mega);
}
.quina-game {
  border-color: var(--quina);
  color: var(--quina);
}
 #lotofacilOption:checked ~ .lotofacil-game{ 
  background-color: var(--lotofacil);
  color: white;
}
#quinaOption:checked ~ .quina-game {
  background-color: var(--quina);
  color: white;
}
#megaOption:checked ~.mega-game{
  background-color: var(--mega);
  color: white;
}
.quina-game-selected {
  background-color: var(--quina);
  color: white;
}
.fill-bet-container {
  grid-area: fill-bet;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  color: var(--textcolor);
  font-size: 22px;
}

.game-description {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  white-space: normal;
}
.numbers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.numbers-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.number {
  background-color: #adc0c4;
  margin-right: 12px;
  color: white;
  padding: 25px;
  border-radius: 1cm;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.number-selected {
}
.button-line {
  grid-area: "buttons";
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-group button {
  text-align: center;
  color: #27c383;
  border: 1px solid #27c383;
  border-radius: 10px;
  padding: 8px 16px;
  background-color: #f7f7f7;
  font-size: 18px;
  cursor: pointer;
  margin-right: 12px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.add-to-cart-button {
  padding: 8px 16px;
  color: white;
  background-color: #27c383;
  border: 1px solid #27c383;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.button-line button:active {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
