@import url("./cart.css");
@import url("./choose-game.css");
.main-container {
  margin-top: 30px;
  grid-area: "main";
  display: grid;
  grid-template-columns: 890px 350px;
  grid-template-rows: 1fr;
  grid-template-areas: "choose-game cart";
  justify-content: center;
}

